<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title> Galerie </title>
	<link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<p class="header">Tiger gallery</p>
<div class="row">
	<div class="container">
		<img src="/img/img1.jpeg" alt="Img1"/>
		<div class="over" id="myBtn">
			<p class="text">Tiger</p>
		</div>
	</div>
	<div class="container">
		<img src="/img/img2.jpeg" alt="Img2" />
		<div class="over" id="myBtn">
			<p class="text">Tiger</p>
		</div>
	</div>
	<div class="container">
		<img src="/img/img3.jpeg" alt="Img3" />
		<div class="over" id="myBtn">
			<p class="text">Tiger</p>
		</div>
	</div>
	<div class="container">
		<img src="/img/img4.jpeg" alt="Img4" />
		<div class="over" id="myBtn">
			<p class="text">Tiger</p>
		</div>
	</div>
	<div class="container">
		<img src="/img/img5.jpeg" alt="Img5" />
		<div class="over" id="myBtn">
			<p class="text">Tiger</p>
		</div>
	</div>
	<div class="container">
		<img src="/img/img6.jpeg" alt="Img6" />
		<div class="over" id="myBtn">
			<p class="text">Tiger</p>
		</div>
	</div>
	<div class="container">
		<img src="/img/img7.jpeg" alt="Img7" />
		<div class="over" id="myBtn">
			<p class="text">Tiger</p>
		</div>
	</div>
	<div class="container">
		<img src="/img/img8.jpeg" alt="Img8" />
		<div class="over" id="myBtn">
			<p class="text">Tiger</p>
		</div>
	</div>
	<div class="container">
		<img src="/img/img9.jpeg" alt="Img9" />
		<div class="over" id="myBtn">
			<p class="text">Tiger</p>
		</div>
	</div>
	<div class="container">
		<img src="/img/img10.jpeg" alt="Img10" />
		<div class="over" id="myBtn">
			<p class="text">Tiger</p>
		</div>
	</div>
	<div class="container">
		<img src="/img/img11.jpeg" alt="Img11" />
		<div class="over" id="myBtn">
			<p class="text">Tiger</p>
		</div>
	</div>
	<div class="container">
		<img src="/img/img12.jpeg" alt="Img12" />
		<div class="over" id="myBtn">
			<p class="text">Tiger</p>
		</div>
	</div>
	<div class="container">
		<img src="/img/img13.jpeg" alt="Img13" />
		<div class="over" id="myBtn">
			<p class="text">Tiger</p>
		</div>
	</div>
	<div class="container">
		<img src="/img/img14.jpeg" alt="Img14" />
		<div class="over" id="myBtn">
			<p class="text">Tiger</p>
		</div>
	</div>
	<div class="container">
		<img src="/img/img15.jpeg" alt="Img15" />
		<div class="over" id="myBtn">
			<p class="text">Tiger</p>
		</div>
	</div>
</div>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
		<img id="img">
  </div>

</div>

<script src="/js/script.js"></script>

</body>
</html>
